<h2 class="heading text-center mb-4">Edit Profile</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "flex flex-column gap-4", data: { turbo: "false" } }) do |f| %>
  
  <%= input_text(f, :username, resource, placeholder: "example") %>

  <%= input_email(f, :email, resource, placeholder: "example@mail.com", autofocus: true) %>

  <%= input_text(f, :name, resource, placeholder: "Example Name") %>

  <% if @user.avatar.attached?%>
    <%= image_tag @user.avatar %>
  <% end %>

  <%= input_file(f, :avatar, resource)%>

  <%= input_password(f, :password, resource, placeholder: "******") %>

  <%= input_password(f, :password_confirmation, resource, placeholder: "******") %>

  <%= input_password(f, :current_password, resource, autocomplete: "current_password", placeholder: "******") %>

  <%= f.submit "Update", class: "button button--primary full-width mb-4" %>
  
<% end %>
<%= link_to "Back", :back, class: "text-center full-width" %>
