<h2 class="heading text-center mb-4">Sign in to your account</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
  <p class="content-xs overline mb-4 text-center">continue with</p>
  <%= f.button "GITHUB", class: "button button--secondary full-width mb-4"%>
  <p class="content-xs overline mb-4 text-center">or</p>
  
  <%= input_text(f, :username, resource, placeholder: "example") %>

  <%= input_email(f, :email, resource, placeholder: "example@mail.com", autofocus: true) %>

  <%= input_text(f, :name, resource, placeholder: "Example Name") %>

  <%= input_file(f, :avatar, resource)%>

  <%= input_password(f, :password, resource, placeholder: "******") %>

  <%= input_password(f, :password_confirmation, resource, placeholder: "******") %>

  <%= f.submit "Sign up", class: "button button--primary full-width mb-4" %>
  <p class="content-ms text-center mb-4">Already a member?</p>
  <div class="flex content-center">
    <%=link_to "Sign in", user_session_path(resource)%>
  </div>
<% end %>