<%= form_with(model: tweet) do |form| %>
  <% if tweet.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
        <% tweet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="new-tweet">
    <div class="tweet-form-edit">      
        <%= form.text_area :body, class: "tweet-text-area", rows: 5, style: 'width:100%;' %>    
        <p class="flex-end"><%= form.submit value: "Update", class: "button button--sm" %></p>   
    </div>
  </div>
<% end %>
