<div id="<%= dom_id tweet %>">
  <p>
    <strong>Body:</strong>
    <%= tweet.body %>
  </p>

  <p>
    <strong>Replies count:</strong>
    <%= tweet.replies_count %>
  </p>

  <p>
    <strong>Likes count:</strong>
    <%= tweet.likes_count %>
  </p>

  <p>
    <strong>User:</strong>
    <%= tweet.user_id %>
  </p>

  <p>
    <strong>Replied to:</strong>
    <%= tweet.replied_to_id %>
  </p>

</div>
