<h1 class="tweets-title">Tweet Detail</h1>
<section class="section flex flex-column gap-4">
  <%= render @tweet %>
  <%unless current_user.nil? || current_user.name == "Guest"%>
    <div class="gray-line"></div>
    <div class="new-tweet">
      <%= form_with model: @reply, method: :post, html: {class: 'tweet-form'} do |f| %>
        <%= f.text_area :body, placeholder: "Remember to think before write", class: "tweet-text-area", rows: 5, style: 'width:100%;outline:none' %>      
        <%= f.hidden_field :replied_to_id%>
        <%= hidden_field_tag 'replied_to_id', @tweet.id %>
        <p class="flex-end"><%= f.submit "Comment", class: "button button--sm" %></p>
      <% end %> 
    </div>
  <%end%>
  <div class="replies-container">
    <% @replies.order("updated_at DESC").each do |reply| %>
      <div class="tweet">
        <div class="flex">
          <%= image_tag reply.user.avatar, class: "tweet-img" if reply.user.avatar.attached?%>
          <div class="flex flex-column">
            <div class="flex gap-1">
              <p><%= reply.user.name %></p>
              <p class = "tweet-username">@<%= reply.user.username%></p>
            </div>
            <p><%= time_ago_in_words(reply.updated_at)%></p>
          </div>
        </div>
        <p>          
          <%= reply.body %>
        </p>
        <div class="tweet-footer-container">
          <div class="tweet-icons">         
            <%=link_to tweet_path(reply), data: { turbo_method: :delete, 
                                          turbo_confirm: "Seguro?" } do %>
              <i class="far fa-trash-alt pointer"></i> 
            <% end %>
            <%= link_to edit_tweet_path(reply) do %>
              <i class="fas fa-pencil-alt pointer"></i>
            <%end%>
          </div>
          <div class="tweet-footer">
            <p>
                <i class="far fa-comment-dots"></i>
              <%= reply.replies_count %>
            </p>    
            <p>
              <i class="far fa-heart"></i>
              <%= reply.likes_count %>
            </p>
          </div>
        </div>
      </div>
    <%end%>
  </div>  
</section>
