<h2 class="heading text-center mb-4">Sign in to your account</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "flex flex-column gap-4", data: { turbo: "false" } }) do |f| %>
  
  <p class="content-xs overline mb-4 text-center">continue with</p>
  <%= f.button "GITHUB", class: "button button--secondary full-width mb-4"%>
  <p class="content-xs overline mb-4 text-center">or</p>
  <%= input_email(f, :email, resource, placeholder: "example@mail.com", autofocus: true) %>
  <%= input_password(f, :password, resource, placeholder: "******") %>

  <%= f.submit "Sign in", class: "button button--primary full-width mb-4" %>
  <p class="content-ms text-center mb-4">Don't have an account?</p>
  <div class="flex content-center">
    <%=link_to "Create an account", new_user_registration_path(resource)%>
  </div>
<% end %>
