<!DOCTYPE html>
<html>
  <head>
    <title>Tweetable</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://kit.fontawesome.com/97778ca477.js" crossorigin="anonymous"></script>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p class="alert"><%= alert %></p>

    <header class="header">
      <div class="container navbar">
        <%=link_to image_tag("Logo.png"), root_path, class: "logo"%>
        <nav>

          <div class="js-navbar-menu">
            <%=image_tag "icons/menu.svg", class: "navbar__menu-icon"%>
            <%=image_tag "icons/close.svg", class: "navbar__menu-icon-close"%>
          </div>
          <ul class="navbar-links gap-4" role="list">
            <%if user_signed_in?%>
              <li>Welcome <%=current_user.username%></li>
              <li><%=link_to "Profile", user_path(current_user.id)%></li>
              <li>
                  <%=button_to "Log Out", destroy_user_session_path, method: :delete, data: { turbo: "false" }, class: "button button--secondary"%>
              </li>
            <%else%>
              <li class="text-center">Login to start the tweeting madness!</li>
              <li><%=link_to "Log in", new_user_session_path, class: "button button--primary"%></li>
            <%end%>
          </ul>
        </nav>

      </div>
    </header>

    <main class="section">
      <p style="color: rgb(13, 185, 13); text-align:center" class="notice"><%= notice %></p>
      <div class="container">
        <%= yield %>
      </div>
    </main>

    <script>
      const navbarMenu = document.querySelector(".js-navbar-menu");
      const navbar = document.querySelector(".navbar");
      navbarMenu.addEventListener("click", () => navbar.classList.toggle("navbar--open"));
    </script>
  </body>
</html>
